#help {
  color: rgb(101, 115, 126);
  font-weight: bold;
  font-family: Roboto, monospace;
  font-size: 1.2vh;
  white-space: pre;
  margin-left: 3vh;

  #ctrls {
    margin-bottom: 0.5vh;
  }

  p {
    margin: 0;
  }
}