.next_block_canvas_wrapper {
  position: relative;
  width: 75%;
  padding-bottom: 75%;
}

.next_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  order: 1;
}

.container {
  margin-top: 1vh;
  padding: 1vh;
  background-color: #0e0032;
}